
/* elements*/
body, html {
    height: 100%;
  }
html {
    min-height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: white;
}
footer {
    background-color: #f6f6f6;
    padding: 25px;
    text-align: center;
}
footer a {
    color: black;
}

/* id's */



/* classes */

.main_box {
    margin-bottom: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
}
.main_stripe {
    background-color: #f6f6f6;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}
.main_stripe_button {
    background-color: darkslateblue;
    border: darkslateblue solid 10px;
    border-radius: 20px;
    transition: all .1s;
    display: block;
    color: white;
    min-width: 120px;
    width: fit-content;
    margin-top: 15px;
    text-align: center;
}
.main_stripe_button:hover {
    cursor: pointer;
    background-color: rgb(88, 80, 141);
    border: rgb(88, 80, 141) solid 12px;
}
.main_stripe_button_grey {
    background-color: #191b24;
    border: #191b24 solid 10px;
}
.main_stripe_button_grey:hover {
    background-color: #282831;
    border: #282831 solid 12px;
}
.main_stripe_a_p {
    color: black;
    display: block;
}
.main_box_hr {
    width: 120px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid 1px lightgrey;
}
.main_box_social {
    height: 25px;
}
.main_box_social:hover {
    cursor: pointer;
}

.thin_header {
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main_stripe .thin_header {
    color: darkslateblue;
}

.navbar {
    /*background: transparent;*/
    top: 0;
    width: 100%;
    position: fixed;
    padding: 15px;
    /*opacity: 90%;*/
    transition: all .15s;
    z-index: 1;
}
.navbar_mobile {
    display: none;
}
.navbar_links {
    background-color: #191b24;
    border: #191b24 solid 10px;
    border-radius: 20px;
    vertical-align: middle;
    display: inline-flex;
    vertical-align: middle;
    max-width: 75px;
    min-width: 75px;
    justify-content: center;
    align-items: center;
    transition: all .1s;
}
.navbar_links_current {
    background-color: white;
    border: white solid 10px;
    max-width: 120px;
    min-width: 120px;
    color: black;
}
.navbar_links_box {
    float: right;
    padding-right: 30px;
}
.navbar_icon {
    height: 20px;
    float: right;
    margin-right: 15px;
    margin-top: 9px;
    vertical-align: middle;
    cursor: pointer;
}
.navbar_icon_mobile_menu {
    margin-right: 38px;
}
.navbar_logo {
    height: 38px;
    float: left;
}
.navbar_links:hover {
    background-color: #282831;
    border: #282831 solid 10px;
}
.navbar_links_current:hover {
    background-color: rgb(88, 80, 141);
    border: rgb(88, 80, 141) solid 10px;
    color: white;
}

.menu {
    position: fixed;
    transition: all .5s;
    width: 100%;
    height: 0;
    background-color: #191b24;
    z-index: 2;
}
.menu_content {
    height: 0;
    opacity: 0%;
    visibility: hidden;
    transition: all .5s;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 80px;
}
.menu_content_close_button {
    position: absolute;
    float: left;
    bottom: 20vh;
    left: 50%;
    height: 20px;
    align-self: center;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.menu_content_close_button:hover {
    cursor: pointer;
}
.menu_content a {
    font-weight: bold;
    font-size: x-large;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: block;
    text-align: center;
}
.menu_content hr {
    border: #282831 1px solid;
    width: 12%;
}

.margin{
    height: 50px;
}

.banner_box {
    background-image: url("media/banner_darkened.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.banner_text {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15%;
    color: white;
    vertical-align: middle;
}
.banner_text_header {
    font-size: 72px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner_text_subheader {
    font-size: large;
    color: lightgrey;
}
.banner_text a {
    display: block;
}
.banner_icon_arrow_down {
    position: absolute;
    float: left;
    bottom: 8%;
    left: 50%;
    height: 15px;
    align-self: center;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.banner_icon_arrow_down:hover {
    cursor: pointer;
}
.banner_small {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.banner_small_text {
    position: absolute;
    top: 78px;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    vertical-align: middle;
}
.banner_small_text_header {
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image_grid {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}
.column {
    -ms-flex: 24.4%;
    flex: 24.4%;
    max-width: 24.4%;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}
.column_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s all;
    background: darkslateblue;
}
.column_overlay_text {
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.column img {
    float: left;
    top: 0;
    height: 400px;
    width: 100%;
    margin-top: 0px;
    object-fit: cover;
}
.column:hover .column_overlay {
    opacity: 1;
    cursor: pointer;
}
/* media tags */

@media screen and (max-width: 400px) {
    .main_box {
        margin-left: 22px;
        margin-right: 22px;
    }
    .main_stripe {
        padding-left: 22px;
        padding-right: 22px;
    }
    .column {
        margin: 0;
        padding: 0;
    }
    .column img {
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 700px) {
    .navbar_mobile {
        display: block;
    }
    .navbar_desktop {
        display: none;
    }
    .banner_text {
        top: 50%;
        left: 5%;
        right: 8%;
        /*-ms-transform: translate(-50%);
        transform: translate(-50%);*/
    }
    .banner_text_header {
        font-size: 40px;
    }
    .banner_text_subheader {
        font-size: medium;
    }
}
@media screen and (min-width: 401px) and (max-width: 667px)  {
    .main_box {
        margin-left: 8%;
        margin-right: 8%;
    }
    .main_stripe {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (min-width: 668px) and (max-width: 1380px) {
    .column {
        -ms-flex: 49.5%;
        flex: 49.5%;
        max-width: 49.5%;
    }
    .main_box {
        margin-left: 15%;
        margin-right: 15%;
    }
    .main_stripe {
        padding-left: 15%;
        padding-right: 15%;
    }
}
